body {
  background-image: url('bigbackground.png');
  background-size: cover;
  background-position: center;
  color: whitesmoke;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.introtogame {
  border-color: #e8b1ea;
  margin: 5px;
  border-style: dotted;
}

.introtogametext {
  font-size: 40px;
  text-align: center;
}

.pixelart {
  width: 150px;
}

#instructions {
  text-align: center;
  color: whitesmoke;
}

.waveinstruct {
  border: 1px solid #192A51;
  background-color: #e8b1ea;
  color: whitesmoke;
  text-align: center;
  font-size: 0.9em;
  height: 50px;
  width: 80%;
  margin: 10px auto;
  transition: height 0.5s ease;
}

.waveinstruct:hover {
  height: 230px;
}

.instructionstitle {
  text-align: center;
}

#waveeasy {
  text-align: center;
}

.waveeasy {
  border: 1px solid #192A51;
  background-color: #e8b1ea;
  color: whitesmoke;
  text-align: center;
  font-size: 0.9em;
  height: 50px;
  width: 80%;
  margin: 10px auto;
  transition: height 0.5s ease;
}

.waveeasy:hover {
  height: 700px;
}

.easyimages {
  transition: opacity 0.5s ease;
}

#mediumlevel {
  text-align: center;
}

.wavemedium {
  border: 1px solid #192A51;
  background-color: #e8b1ea;
  color: whitesmoke;
  text-align: center;
  font-size: 0.9em;
  height: 50px;
  width: 80%;
  margin: 10px auto;
  transition: height 0.5s ease;
}

.wavemedium:hover {
  height: 700px;
}

.mediumimages {
  transition: opacity 0.5s ease;
}

#hardlevel {
  text-align: center;
}

.wavehard {
  border: 1px solid #192A51;
  background-color: #e8b1ea;
  color: whitesmoke;
  text-align: center;
  font-size: 0.9em;
  height: 50px;
  width: 80%;
  margin: 10px auto;
  transition: height 0.5s ease;
}

.wavehard:hover {
  height: 700px;
}

.hardimages {
  transition: opacity 0.5s ease;
}

