body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #f4f4f4;
    background-image: url('Pissbaby3\ \(2\).jpg');
    background-size: cover;
    background-position: center;
}

h1, h2 {
    color: #2980b9;
}

section {
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}
